{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <section class="container-fluid user-action py-5">
        <div class="container user-form mb-5">
            <p class="big-text">
                Si un compte correspond à l'adresse saisie, vous recevrez un Email contenant un lien de changement de mot de passe.
                Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class="big-text">Si vous n'avez pas reçu l'Email, vérifiez vos spam ou <a class="simple-link" href="{{ path('app_forgot_password_request') }}">essayez à nouveau.</a></p>
        </div>
    </section>

{% endblock %}
