{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}
    {% block header %}
        {{ include('layout_fragments/_header.html.twig') }}
    {% endblock %}

{% block body %}

    <main class="py-3">
        <section class="m-auto mt-3">
            <h2 class="carousel-title text-center py-2 py-md-3 mb-md-3">L'Oh à la bouche en quelques images</h2>
            <article class="carousel-wrapper m-auto mt-3">
                <div id="carouselImgGallery" class="carousel slide carousel-fade" data-bs-ride="false" >
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div {% if loop.index0 == 0 %} class="carousel-item container-fluid active" {% else %} class="carousel-item container-fluid" {% endif %}>
                                <img src="upload/images/imagesGallery/{{image.fileName}}" class="carousel-img d-block w-100" alt="image">
                            </div>
                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImgGallery" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImgGallery" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </article>

            <article class="mt-5">
                <h2 class="carousel-title text-center py-2 py-md-3 mb-md-3">Laissez-vous tenter par une expérience culinaire inoubliable!</h2>
                <div class="d-flex justify-content-center my-5">
                    <a type="submit" class="btn btn-lg btn-form my-3 my-3" href="#">Réservez une table</a>
                </div>
            </article>


        </section>


    </main>
{% endblock %}
