
<div class="container-fluid header p-5">

    <div class="d-flex flex-column justify-content-center py-xl-2 header-title text-center text-xl-start">
        <h1 class="title-element">La Bouche Des Gouts</h1>
        <img src="{{ asset('images/46756e3c.png') }}" class="ra-img w-25 m-auto m-xl-0 p-sm-1 p-xxl-5" alt="">
        <h2 class="title-element">Notre chef, Râ D Gouts, vous souhaite la bienvenue dans son premier restaurant underground!</h2>
    </div>
    <img src="{{ asset('images/header-img.jpg') }}"  class="header-img" alt="">
</div>
